<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>service_khujci</title>
    <style>
        /* Add some basic styles for the page */
        body {
            font-family: Arial, sans-serif;
        }
        
        .container {
            width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Your Request has been Received</h2>
        <p>You can find if some match is availabe!</p>
    </div>
</body>
</html>
